<div class="author">
  <icon>📝</icon>
    <small>
      <time datetime="{{ page.date | machineDate }}">{{ page.date | readableDate }}</time> by <a href="/authors/{{ author | slug }}/">{{ author }}</a>
    </small>
</div>