<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
	{% include "components/head.njk" %}
	<body>
		<header>
      <div class="container">
        <div class="row">
          <a href="{{ '/' | url }}">
            <h1>
              {{ metadata.title }} 
            </h1>
            <h1>🥔</h1>
          </a>
        </div>
      </div>
		</header>
		<main>
      <div class="container">
        {{ layoutContent | safe }}
      </div>
		</main>
    <div class="container">
      {% include "components/footer.njk" %}
    </div>
	</body>

</html>
